<button class="js-download-link button" onclick="downloadFile('https://www.meanwellusa.com/upload/pdf/LRS-150/LRS-150-spec.pdf','fichaTecnica.txt'); return false;">Download TXT File</button>

<button class="js-download-link button" onclick="downloadFile('https://co.mouser.com/datasheet/2/260/mwec_s_a0011714497_1-2274579.pdf','fichaTecnica.pdf');">Download PDF File</button>        

<script type="text/javascript">
  function downloadFile(data, fileName, type="text/plain") {
    // Crea un elemento de enlace a
    const a = document.createElement("a");
    a.style.display = "none";
    document.body.appendChild(a);

    // seteo el href por la data o por href que le paso para descargar
    a.href = window.URL.createObjectURL(
      new Blob([data], { type })
    );

    //uso el atributo descargar 
    a.setAttribute("download", fileName);

    // hago la descarga
    a.click();

    // limpio
    window.URL.revokeObjectURL(a.href);
    document.body.removeChild(a);
  }
</script>

<div class="quatation-tecnic">
    <div class="card-form">
      <h1>Obtega su cotizacion</h1>
      <input class="input-form" type="text" placeholder="Nombre">
      <input class="input-form" type="email" placeholder="Correo">
      <input class="input-form" type="tel" placeholder="Telefono">
      <input class="input-form" type="text" placeholder="Empresa">
      <input class="input-form" type="text" placeholder="Cuidad">
      <textarea class="input-textarea" cols="3" rows="3" placeholder="Mensaje"></textarea>
      <button class="boton-form">Enviar</button>
    </div>
    <div class="card-ficha-tecnica">
      <h2 class="accordion__title">Ficha Técnica</h2> 
      {%- liquid 
        assign current_variant = product.selected_or_first_available_variant
      -%}
      <h1>{{current_varinat.metafields.digikey.ficha_tecnica}}</h1>
      <span class="ficha-span"><a download="LRS-150.pdf" href="https://www.meanwellusa.com/upload/pdf/LRS-150/LRS-150-spec.pdf"><button class="button-tecnic"><i class="fa-solid fa-file-arrow-down font-size"></i></button></a>Descargar Ficha Técnica</span>
      <span class="ficha-span"><a href="https://www.meanwellusa.com/upload/pdf/LRS-150/LRS-150-spec.pdf"><button class="button-tecnic"><i class="fa-solid fa-file-pdf font-size" ></i></button></a>Ver Ficha Técnica</span>
    </div>
</div>