<!-- "StandardPricing": [
{
  "BreakQuantity": 1,
  "UnitPrice": 0.86,
  "TotalPrice": 0.86
},
{
  "BreakQuantity": 10,
  "UnitPrice": 0.65,
  "TotalPrice": 6.5
},
{
  "BreakQuantity": 100,
  "UnitPrice": 0.465,
  "TotalPrice": 46.5
},
{
  "BreakQuantity": 500,
  "UnitPrice": 0.36,
  "TotalPrice": 180
},
{
  "BreakQuantity": 1000,
  "UnitPrice": 0.31,
  "TotalPrice": 310
},
{
  "BreakQuantity": 2500,
  "UnitPrice": 0.29,
  "TotalPrice": 725
},
{
  "BreakQuantity": 5000,
  "UnitPrice": 0.275,
  "TotalPrice": 1375
}
], -->
<div class="product-pricing-table card-pricing">
  <h2 class="h4 accordion__title">Precios (USD)</h2>
  {% assign attributesHeader = "Qty,Unit Price,Ext.Price" | split:',' %}
  {% assign attributesQty = "1,10,25,50,100,250,500,1000" | split:',' %}
  {% assign attributesUnitPrice = "24.30,22.87,22.16,21.43,20.72,20.01,19.65, Quote" | split:',' %}
  {% assign attributesExetPrice = "24.30,228.70,554.00,1071.50,2072.00,5002.50,9825.00, " | split:',' %}

  <table class="table">
    <tr>
      {% for obj in attributesHeader %}
        <th>{{ obj }}</th>
      {% endfor %}
    </tr>
  
    {% for obj in attributesQty %}
    <tr>
      <td>{{ obj }}</td>
      <td>{{ attributesUnitPrice[forloop.index0] }}</td>
      <td>{{ attributesExetPrice[forloop.index0] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>