<div class="">
    <div class="card-form">
      <h1>Obtega su cotizacion</h1>
      <input class="input-form" type="text" placeholder="Nombre">
      <input class="input-form" type="email" placeholder="Correo">
      <input class="input-form" type="tel" placeholder="Telefono">
      <input class="input-form" type="text" placeholder="Empresa">
      <input class="input-form" type="text" placeholder="Cuidad">
      <textarea class="input-textarea" cols="3" rows="3" placeholder="Mensaje"></textarea>
      <button class="boton-form">Enviar</button>
    </div>
    <div class="card-ficha-tecnica">
      <h2 class="h4 accordion__title">Ficha Tecnica</h2> 
      <span class="ficha-span"><button class="button-tecnic">□</button>Descargar Ficha Tecnica</span>
      <span class="ficha-span"><button class="button-tecnic">□</button> <span>Ver Ficha Tecnica</span>
    </div>
</div>