

<script>
  /* Funcion para descarga de archivo */
  function download_file(fileURL, fileName) {
      // for non-IE
      if (!window.ActiveXObject) {
          var save = document.createElement('a');
          save.href = fileURL;
          save.target = '_blank';
          var filename = fileURL.substring(fileURL.lastIndexOf('/') + 1);
          save.download = fileName || filename;
          if (navigator.userAgent.toLowerCase().match(/(ipad|iphone|safari)/) && navigator.userAgent.search("Chrome") < 0) {
              document.location = save.href;
              // window event not working here
          } else {
              var evt = new MouseEvent('click', {
                  'view': window,
                  'bubbles': true,
                  'cancelable': false
              });
              save.dispatchEvent(evt);
              (window.URL || window.webkitURL).revokeObjectURL(save.href);
          }
      }

      // for IE < 11
      else if (!!window.ActiveXObject && document.execCommand) {
          var _window = window.open(fileURL, '_blank');
          _window.document.close();
          _window.document.execCommand('SaveAs', true, fileName || fileURL)
          _window.close();
      }
  }
</script>

<div class="quatation-tecnic">
    <div class="card-form">
      <h1>Obtega su cotizacion</h1>
      <input class="input-form" type="text" placeholder="Nombre">
      <input class="input-form" type="email" placeholder="Correo">
      <input class="input-form" type="tel" placeholder="Telefono">
      <input class="input-form" type="text" placeholder="Empresa">
      <input class="input-form" type="text" placeholder="Cuidad">
      <textarea class="input-textarea" cols="3" rows="3" placeholder="Mensaje"></textarea>
      <button class="boton-form">Enviar</button>
    </div>
    <div class="card-ficha-tecnica">
      <h2 class="accordion__title">Ficha Técnica</h2> 
      {%- liquid 
        assign current_variant = product.selected_or_first_available_variant
      -%}
      <span class="ficha-span">
        <button class="button-tecnic" onclick="download_file('https://www.fervicom.com/index.php?controller=attachment&id_attachment=12')">
          <i class="fa-solid fa-file-arrow-down font-size"></i>
        </button> Ficha Técnica
      </span>
      <span class="ficha-span">
        <a class="enlace-ficha-tecnica" href="https://www.meanwellusa.com/upload/pdf/LRS-150/LRS-150-spec.pdf">
          <button class="button-tecnic">
            <i class="fa-solid fa-file-pdf font-size" ></i>
          </button>
        </a>
        Ver Ficha Técnica
      </span>
    </div>
</div>