<div class="quatation-tecnic">
    <div class="card-form">
      <h1>Obtega su cotizacion</h1>
      <input class="input-form" type="text" placeholder="Nombre">
      <input class="input-form" type="email" placeholder="Correo">
      <input class="input-form" type="tel" placeholder="Telefono">
      <input class="input-form" type="text" placeholder="Empresa">
      <input class="input-form" type="text" placeholder="Cuidad">
      <textarea class="input-textarea" cols="3" rows="3" placeholder="Mensaje"></textarea>
      <button class="boton-form">Enviar</button>
    </div>
    <div class="card-ficha-tecnica">
      <h2 class="h4 accordion__title">Ficha Tecnica</h2> 
      {%- liquid 
        assign current_variant = product.selected_or_first_available_variant
      -%}
      <h1>{{current_varinat.metafields.digikey.ficha_tecnica}}</h1>
      <span class="ficha-span"><a href="LRS-150-spec.pdf" download="Ficha-Tecnica.pdf"><button class="button-tecnic"><i class="fa-solid fa-file-arrow-down font-size"></i></button></a>Descargar ficha tecnica</span>
      <span class="ficha-span"><a href="https://www.meanwellusa.com/upload/pdf/LRS-150/LRS-150-spec.pdf"><button class="button-tecnic"><i class="fa-solid fa-file-pdf font-size" ></i></button></a>Ver Ficha Tecnica</span>
    </div>
</div>