.header-wrapper {
<<<<<<< HEAD
    background-color: $color-main-accent;
=======
    background-color: $main-accent-color;
>>>>>>> a409f2f20b96a5ca41a9b99b238707be81cd4165
    color: #fff;

    .h2 {
        color: #fff;
    }

    .header__menu-item {
        color: #fff;
    }
}