.voltage-selector {
    background-color: $color-background-primary;
    border-radius: 50px;
    padding: .3em;
}

/* The container */
.container {
    display: inline-flex;
    position: relative;
    margin-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    align-items: center;
    border-radius: 50%;
    color: $color-text-secondary;
    display: flex;
    justify-content: center;
    height: 2.7em;
    width: 2.7em;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #f3f3f3;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: $color-text-primary;
    font-weight: 600;
  }