.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5em;
}

.header-wrapper {
  background-color: #E73127;
  color: #fff;
}
.header-wrapper .h2 {
  color: #fff;
}
.header-wrapper .header__menu-item {
  color: #fff;
}