// Global variables

$color-main-accent: #E73127;
$color-background-primary: #fafafe;
$color-background-primary-header: #fafafe;
$color-text-primary: #000;
$color-text-secondary: #929292;
$color-text-grey: #929292;

$font-family-body: "Sofia Pro", "Roboto", sans-serif;
