// Global variables

<<<<<<< HEAD
$color-main-accent: #E73127;
$color-background-primary: #fafafe;
$color-text-primary: #000;
$color-text-secondary: #929292;
$color-text-grey: #929292;

$font-family-body: "Sofia Pro", sans-serif;
=======
$main-accent-color: #E73127;
>>>>>>> a409f2f20b96a5ca41a9b99b238707be81cd4165
